{% extends 'base.html' %}

{% block content %}
    <div class="row" id="header">
      <div class="col-md-4">
          <h1>Othello</h1>
      </div>
      {% if error=="Los algoritmos deben ser diferentes" %}
        <div class="col-md-4">
        <p class="error">{{ error }}</p>
        </div>
      {% endif %}
      {% if result %}
        <div class="col-md-4">
        <h2 class="error"><b>El ganador es {{ result.ganador }}</b></h2>
        </div>
      {% endif %}
    </div>


<div class="row">
    <div class="col-md-5">
        {% if not result and not context%}
        <div id="table">
            <table id="othello_table">
                <tbody id="othello_table_body"></tbody>
            </table>
        </div>
        {% endif %}
    </div>
    {% if not result and not context %}

        <div class="col-md-4">
            <form method="post">
                    <div class="form-group">
                        <label for="algoritmo1">Negras: </label>
                        <select
                        name="algoritmo1"
                        id="algoritmo1"
                        class="custom-select"
                        aria-label="Default select example"
                        >
                            <option value="0">Humano</option>
                            <option selected value="1">Minimax</option>
                            <option value="2">Random</option>
                            <option value="3">Alpha-Beta</option>
                            <option value="4">Reinforcement Learning</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="algoritmo2">Blancas</label>
                        <select
                        name="algoritmo2"
                        id="algoritmo2"
                        class="custom-select"
                        aria-label="Default select example"
                        >
                            <option value="0">Humano</option>
                            <option selected value="1">Minimax</option>
                            <option value="2">Random</option>
                            <option value="3">Alpha-Beta</option>
                            <option value="4">Reinforcement Learning</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="corte">Nivel de Corte (Algoritmo Negras)</label>
                        <select
                        name="corte"
                        id="corte"
                        class="custom-select"
                        aria-label="Default select example"
                        >
                            <option selected value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="corte2">Nivel de Corte (Algoritmo Blancas)</label>
                        <select
                        name="corte2"
                        id="corte2"
                        class="custom-select"
                        aria-label="Default select example"
                        >
                            <option selected value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>

                    <button id="iniciar" type="submit" class="btn btn-primary">Iniciar Algoritmo</button>
            </form>
        </div>
    {% endif %}
</div>

{% if result %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div id="table2">
            <table id="othello_table2">
                <tbody id="othello_table_body2"></tbody>
            </table>
        </div>
    </div>
    <div class="col-md-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Algoritmo</th>
                    <th>Promedio Nodos Expandidos</th>
                    <th>Max Nodos Expandido</th>
                    <th>Tiempo Promedio</th>
                    <th>Tiempo Total(s)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ algoritmo1 }} Corte = ({{corte1}})</td>
                    <td>{{ result['nodos_expandidos_algoritmo_1_promedio'] }}</td>
                    <td>{{ result['nodos_expandidos_algoritmo_1_max'] }}</td>
                    <td>{{ result['tiempo_promedio1'] }}</td>
                    <td>{{ result['tiempo_total_algoritmo_1'] }}</td>
                </tr>
                <tr>
                    <td>{{ algoritmo2 }} Corte = ({{corte2}})</td>
                    <td>{{ result['nodos_expandidos_algoritmo_2_promedio'] }}</td>
                    <td>{{ result['nodos_expandidos_algoritmo_2_max'] }}</td>
                    <td>{{ result['tiempo_promedio2'] }}</td>
                    <td>{{ result['tiempo_total_algoritmo_2'] }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    </div>
    
{% endif %}
{% if context %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            {% if context['jugador'] == 1 %}
                {% if context['algoritmo'] == 1 %}
                    <h3>Minimax({{ context['corte'] }}) vs Jugador</h3>
                {% elif context['algoritmo'] == 2 %}
                    <h3>Random vs Jugador</h3>
                {% elif context['algoritmo'] == 3 %}
                    <h3>Minimax-AlfaBeta({{ context['corte'] }}) vs Jugador</h3>
                {% else %}
                    <h3>RL vs Jugador</h3>
                {% endif %}
            {% else %}
                {% if context['algoritmo'] == 1 %}
                    <h3>Jugador vs Minimax({{ context['corte'] }})</h3>
                {% elif context['algoritmo'] == 2 %}
                    <h3>Jugador vs Random</h3>
                {% elif context['algoritmo'] == 3 %}
                    <h3>Jugador vs Minimax-AlfaBeta({{ context['corte'] }})</h3>
                {% else %}
                    <h3>Jugador vs RL</h3>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div id="table2" class="col-md-7">
            <table id="othello_table2">
                <tbody id="othello_table_body2"></tbody>
            </table>
        </div>
        <div class="col-md-2">
            <form method="POST">
                <label for="fila">Fila+Columna</label>
                <select class="form-control" name="fila-columna" id="fila-columna">
                    {% for option in context['jugadas'] %}
                        <option value="{{ option }}">{{ option }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" id="custId" name="algoritmo1" value="100">
                <input type="hidden" id="custId" name="algoritmo2" value="200">
                <input type="hidden" id="custId" name="corte" value="{{ context['corte'] }}">
                <input type="hidden" id="custId" name="corte2" value="3487">
                <input type="hidden" id="custId" name="stable" value="{{ context['stable'] }}">
                <input type="hidden" id="custId" name="algoritmo" value="{{ context['algoritmo'] }}">
                <input type="hidden" id="custId" name="jugador" value="{{ context['jugador'] }}">
                <button type="submit" class="btn btn-primary">Jugar</button>
            </form>
        </div>
    </div>
    {% if context['ganador'] %}
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-4">
                <h3>Ganador:
                {% if context['ganador'] == 1 %}
                    Blancas
                {% elif context['ganador'] == 2 %}
                    Negras
                {% else %}
                    Empate
                {% endif %}</h3>
            </div>
        </div>
    {% endif %}
{% endif %}
{% if result %}
  <script>

        function dibujarTablero(mat, n) {
            console.log("mat")
            console.log(mat)
            const table = document.getElementById("othello_table2");
            const tableBody = document.getElementById("othello_table_body2");
            for (let i = 0; i < n; i++) {
              const tr = document.createElement('tr');
              tableBody.appendChild(tr);
              for (let j = 0; j < n; j++) {
                const td = crearCelda();
                console.log(mat[i][j])
                if (mat[i][j] != 0) {
                  const ficha = crearFicha(mat[i][j]);
                  td.appendChild(ficha);
                }
                tr.appendChild(td);
              }
            }
          }
          function crearFicha(jugador) {
            const ficha = document.createElement("div");
            ficha.classList.add("ficha");
            ficha.style.backgroundColor = pintarFicha(jugador);
            ficha.innerText = jugador;
            ficha.style.color = "transparent";
            return ficha;
          }


          function crearCelda() {
            const td = document.createElement('td')
            td.classList.add('celda')
            return td;
          }

          function pintarFicha(player) {
            switch (player) {
              case 2:
                return "black";
              case 1:
                return "white"
                default:
                return "grey";
            }
          }
        let matriz = '{{ result.tabla }}';
        console.log("Probando el script")
        console.log(matriz)


        matriz = matriz.substring(2, matriz.length - 2).trim();

        matriz = matriz.split("], [");

        matriz = matriz.map((row) => {
          return row.split(", ");
        });

        matriz = matriz.map((row) => {
          return row.map((col) => {
            return parseInt(col);
          });
        });

        console.log(matriz)

        dibujarTablero(matriz, 8);
    </script>
    {% endif %}
    {% if context %}
  <script>

        function dibujarTablero(mat, n) {
            console.log("mat")
            console.log(mat)
            const table = document.getElementById("othello_table2");
        const tableBody = document.getElementById("othello_table_body2");
            for (let i = 0; i < n; i++) {
              const tr = document.createElement('tr');
              tableBody.appendChild(tr);
              for (let j = 0; j < n; j++) {
                const td = crearCelda();
                console.log(mat[i][j])
                if (mat[i][j] != 0) {
                  const ficha = crearFicha(mat[i][j]);
                  td.appendChild(ficha);
                }
                tr.appendChild(td);
              }
            }
          }
          function crearFicha(jugador) {
            const ficha = document.createElement("div");
            ficha.classList.add("ficha");
            ficha.style.backgroundColor = pintarFicha(jugador);
            ficha.innerText = jugador;
            ficha.style.color = "transparent";
            return ficha;
          }


          function crearCelda() {
            const td = document.createElement('td')
            td.classList.add('celda')
            return td;
          }

          function pintarFicha(player) {
            switch (player) {
              case 2:
                return "black";
              case 1:
                return "white"
                case 3:
                    return "#778899"
                case 4:
                    return "#778899"
                case 5:
                    return "#778899"
                default:
                return "grey";
            }
          }
        let matriz = '{{ context.table }}';
        console.log("Probando el script")
        console.log(matriz)


        matriz = matriz.substring(2, matriz.length - 2).trim();

        matriz = matriz.split("], [");

        matriz = matriz.map((row) => {
          return row.split(", ");
        });

        matriz = matriz.map((row) => {
          return row.map((col) => {
            return parseInt(col);
          });
        });

        console.log(matriz)

        dibujarTablero(matriz, 8);
    </script>
    {% endif %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}
